.JokesContainer {
  text-align: center;
  padding: 0.2rem;
  margin: 0;
  height: 50rem;
  color: white;
  background: radial-gradient(
    /* rgba(101, 89, 222, 1) 37%,
    rgba(113, 88, 213, 1) 44%,
    rgba(137, 85, 195, 1) 56%, */
    rgba(142, 84, 191, 1) 67%,
    rgba(158, 82, 179, 1) 76%,
    rgba(191, 78, 154, 1) 99%,
    rgba(252, 70, 107, 1) 91%
  );
  font-family: "Roboto", sans-serif;
}

.Joke {
  margin: 0;
  padding: 0.2rem;
  text-align: center;
  font-weight: 300;
}
.Punchline {
  text-align: center;
  font-weight: 300;
}
h1 {
  color: purple;
  font-weight: 300;
  padding: 1em;
  font-size: 2.8em;
}
img {
  position: absolute;
  right: 40%;
  bottom: 7rem;
  border-radius: 20em;
}
button {
  display: inline-block;
  padding: 10px 27.5px;
  font-size: 0.8em;
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  border: 1px solid #fff;
  color: #fff;
  position: absolute;
  right: 45%;
  bottom: 3rem;
}

button:hover {
  background: purple;
  border: 1px solid white;
  color: #fff;
}
