.JokesContainer {
  margin: 0;
  height: 500rem;
  color: white;
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(67, 94, 248, 1) 8%,
    rgba(80, 92, 238, 1) 14%,
    rgba(88, 91, 232, 1) 21%,
    rgba(101, 89, 222, 1) 37%,
    rgba(113, 88, 213, 1) 44%,
    rgba(137, 85, 195, 1) 56%,
    rgba(142, 84, 191, 1) 67%,
    rgba(158, 82, 179, 1) 76%,
    rgba(191, 78, 154, 1) 91%,
    rgba(252, 70, 107, 1) 99%
  );
  font-weight: 100;
  font-family: "Roboto", sans-serif;
}

.Joke {
  margin: 0;
  padding: 5rem;
  text-align: center;
}
.Punchline {
  text-align: center;
}

button {
  display: inline-block;
  padding: 10px 27.5px;
  font-size: 0.8em;
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  border: 1px solid #fff;
  color: #fff;
  position: absolute;
  right: 45%;
  bottom: 3rem;
}

button:hover {
  background: rgb(255, 204, 0);
  border: 1px solid rgb(255, 204, 0);
  color: #fff;
}
