body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100;
  min-height: 100%;
  background-size: cover;
  background: linear-gradient(
    90deg,
    rgba(158, 82, 179, 1) 13%,
    rgba(191, 78, 154, 1) 35%,
    rgba(252, 70, 107, 1) 70%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
